.ant-card-body {
  background-color: aliceblue;
}
.ant-select-selection--multiple .ant-select-selection__choice {
  background-color: cornsilk;
}
.type1 {
  color: #f56a00;
  background-color: #fde3cf;
}

.type2 {
  background-color: teal;
}

.ant-card-head {
  background-color: burlywood;
}
.weekanalysis {
  text-align: center;
  text-shadow: 0ch;
}
.ant-input {
  height: 25px;
  width: 100%;
  border: none;
  background-color: inherit;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 0px !important;
}
.ant-table-tbody > tr {
  height: 30%;
}
.ant-form-item-control {
  line-height: 25px;
}
/* .ant-table-tbody > tr :nth-child(even) {
  background-color: lightgrey;
} */
